RewriteEngine On 
RewriteRule ^patho([0-9]+).php$ /Controllers/lire.php?id=$1 [NC]
RewriteRule ^type=(.*)$ /Controllers/lireMeridien.php?param=$1 [NC]
RewriteRule ^meridien=(.*)$ /Controllers/lireMeridien.php?param=$1 [NC]
RewriteRule ^caracteristique=(.*)$ /Controllers/lireCaract.php?caract=$1 [NC]