<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



<body>

    <head>
        <title>Akatsuki</title>
        <link rel="stylesheet" href="index.css">


    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../views/index.html">Accueil<span class="sr-only">Recherche</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../controllers/c_patho.php">Recherche Pathologie<span
                            class="sr-only">Recherche</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../controllers/c_patho2.php">Filtre Pathologie<span
                            class="sr-only">Recherche</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">A propos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="imageContainer">
        <img src="../acu.jpeg" />
        <div class="textImageCentered">Bienvenue sur Akatsuki !</div>
    </div>
</body>

</html>